apps/authuser/__pycache__/*
apps/authuser/migrations/__pycache__/*
apps/cutter/__pycache__/*
apps/cutter/migrations/__pycache__/*
apps/user_profile/__pycache__/*
apps/user_profile/migrations/__pycache__/*
apps/home/__pycache__/*
apps/home/migrations/__pycache__/*
apps/db_model/__pycache__/*
apps/db_model/migrations/__pycache__/*
clkr_core/__pycache__/*
Pipfile.lock
db.sqlite3
фичи.txt
.env
