apps/api/__pycache__
apps/api/migrations
apps/api/api_auth/__pycache__
apps/api/utils/__pycache__
apps/api/endpoints/__pycache__
apps/api/endpoints/v1/__pycache__
apps/authuser/__pycache__
apps/authuser/migrations
apps/cutter/__pycache__
apps/cutter/migrations
apps/user_profile/__pycache__
apps/user_profile/migrations
apps/home/__pycache__
apps/home/migrations
apps/home/static/home/QR/*
apps/db_model/__pycache__
apps/db_model/migrations
apps/__pycache__
static
clkr_core/__pycache__
Pipfile.lock
db.sqlite3
фичи.txt
.env
