{% load static %}

<div class="footer">
  
  <!--Waves Container-->
  <div class="pt-4 " style="transform: rotate(180deg);">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(249,255,254,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(249,255,254,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(249,255,254,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(249,250,254,1)" />
    </g>
    </svg>
  </div>    
  <!--Waves end-->

  <div class="container pb-5">  
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
      <ul class="nav col-md-4 justify-content-start">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Главная</a></li>
        <li class="nav-item"><a href="{% url 'features' %}" class="nav-link px-2 text-muted">Возможности</a></li>
        <li class="nav-item"><a href="{% url 'bot' %}" class="nav-link px-2 text-muted">TG-бот</a></li>
        <li class="nav-item"><a href="{% url 'api' %}" class="nav-link px-2 text-muted">API</a></li>
      </ul>

      <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <a href="/">
          <img src="{% static '/img/logo.png' %}" class="bi bi-scissors" alt="logo" width="125" height="40">
        </a>
      </div>

      <p class="col-md-4 mb-0 text-muted text-end">© 2023 FVA Сorp, Inc</p>
    </footer>
  </div>
</div>
