{% extends 'base.html' %}


{% block content %}

<style>
    .custom-margin {
        margin-bottom: 20% !important;
    }
</style>

<div class="px-4 pt-5 my-5 text-center custom-margin">
    <h1 class="display-4 fw-bold">Письмо с инструкциями по восстановлению пароля отправлено</h1>
    <div class="col-lg-6 mx-auto">
        <br>
      <p class="lead mb-4">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
      <p class="lead mb-4">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
      <div class="col-12">
        <!-- <a href="{% url 'home' %}" class="btn btn-primary">Попробовать прямо сейчас!</a> -->
      </div>

    </div>
</div>

{% endblock %}