{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-7 mx-auto">  <!-- mt-5 -->
      <div class="card radius-10">
        <div class="card-body p-4">
          <div class="text-center">
            <h4>Регистрация</h4>
            <p>Создание аккаунта</p>
          </div>
          <form class="form-body row g-3" action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            <div class="col-12 col-lg-12">
              <div class="d-grid gap-2">
                <a href="javascript:;" class="btn border border-2 border-dark"><img
                    src="assets/images/icons/google.png" width="20" alt=""><span class="ms-3 fw-500">Вход через
                    Google</span></a>
                <a href="javascript:;" class="btn border border-2 border-dark"><img
                    src="assets/images/icons/apple-black-logo.png" width="20" alt=""><span class="ms-3 fw-500">Вход через
                    Яндекс</span></a>
              </div>
            </div>
            <div class="col-12 col-lg-12">
              <div class="position-relative border-bottom my-3">
                <div class="position-absolute seperator-2 translate-middle-y">OR</div>
              </div>
            </div>
            {% if form.errors %}
              <div class="col-12">
              {% for error in form.errors.values %}
                  {{ error }}
              {% endfor %}
              </div>
            {% endif %}

            <!-- <div class="col-12">
              <label for="inputName" class="form-label">Ваше имя:</label>
              <input type="text" class="form-control" id="inputName" name="username" required placeholder="Имя">
            </div> -->
            <div class="col-12">
              <label for="inputEmail" class="form-label">Email:</label>
              <input type="email" class="form-control" id="inputEmail" name="email" required placeholder="abc@example.com">
            </div>
            <div class="col-12">
              <label for="inputPassword1" class="form-label">Пароль:</label>
              <input type="password" class="form-control" id="inputPassword1" name="password1" required placeholder="Ваш пароль">
            </div>
            <div class="col-12">
              <label for="inputPassword2" class="form-label">Повторите пароль:</label>
              <input type="password" class="form-control" id="inputPassword2" name="password2" required placeholder="Ваш пароль">
            </div>
            <div class="col-12 col-lg-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  I agree the Terms and Conditions
                </label>
              </div>
            </div>
            <div class="col-12 col-lg-12">
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
              </div>
            </div>
            <div class="col-12 col-lg-12 text-center">
              <p class="mb-0">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}