{% extends "dashboard/layouts/base.html" %}
{% load static %}

{% block title %} Page Blank {% endblock %} 

{% block stylesheets %}
<!-- prism css -->
<link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">
{% endblock stylesheets %}

{% block breadcrumb %}
    {% load breadcrumb %}
<!-- [ breadcrumb ] start -->
        <nav aria-label="breadcrumb" itemscope itemtype="{% breadcrumb_schema %}">
            <ol class="breadcrumb mx-3 my-2">
                {% breadcrumb_home 'dashboard' %}
                {% breadcrumb_active 1 prefix='API документация' %}
            </ol>
        </nav>

<!-- [ breadcrumb ] end -->
{% endblock breadcrumb %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 style="font-size: 24px;">API Key</h5>
                                        </div>
                                        <div class="card-block">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="row mb-3">
                                                    <div class="col-12 col-xl-6">
                                                        <label class="" style="color: rgb(17, 17, 17); font-size: 16px;">Ваш ключ:</label>
                                                        <input class="form-control" type="text" value="{% if user.auth_token %}Token {{ user.auth_token }}{% else %} {% endif %}" disabled>
                                                    </div>
                                                </div>
                                                    <button type="submit" class="btn btn-primary" style="font-size: 16px; font-weight: 700;" {% if user.auth_token %} disabled {% endif %}>
                                                        Получить токен
                                                    </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card api-brief-card">
                                        <div class="card-header">
                                            <h5 style="font-size: 24px;">Clicker - API Service</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-xl-10" id="full-doc">
                                                    <h1 class="mb-4">Brief features description</h1>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="alert alert-primary rounded" role="alert">
                                                                <h3 class="">Please note!</h3>
                                                                <hr>
                                                                <h4>This text is a brief overview of the features provided by our API service. To access the full documentation, please follow the link.</h4>
                                                                <a href="{{ redoc }}" target="_blank" class="btn btn-primary mt-1" style="font-size: 16px; font-weight: 700; min-width: 150px;">ReDoc</a>
                                                                <a href="{{ swagger }}" target="_blank" class="btn btn-primary mt-1" style="font-size: 16px; font-weight: 700; min-width: 150px;">Swagger</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2>Features</h2>
                                                    <p>Clkr.su API service provides you a powerful and free platform to create, manage, and organize short links and QR codes. 
                                                        Also, we allow you to collect and analyze the statistics of clicks and other metrics on your links.</p>
                                                        
                                                    <h2>Base URL</h2>
                                                    <p>The main address at which our web service is accessible:</p>
                                                    <p><code>{{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/</code></p>

                                                    <h2>Requests</h2>
                                                    <p>You need to use in HTTP requests only HTTPS protocol and UTF-8 encoding. 
                                                    All requests must contain a token in the <b>Authorization</b> header, for example: </p>
                                                    <p><code>Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a</code></p>

                                                    <h2 class="mt-5">
                                                        Links endpoints
                                                        <p class="lead" style="font-size: 20px; color:rgb(110, 110, 110)">Create and manage your links.</p>
                                                    </h2>
                                                    <h3 class="mt-4">Create new link</h3>
                                                    <p>Here is an example of a request to create a short link and add it to a group with index 5. 
                                                        Additionally, when creating the link, the slug is provided manually. If it is not specified, it will be generated automatically.</p>
                                                    <h4>Request</h4>
<pre><code class="language-bash">
curl --request POST \
    --url {{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/links/ \
    --header 'content-type: application/json' \
    --header 'Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a' \
    --data '{
        "long_link":"https://www.very-looong-link-there.com",
        "slug":"my-first-link",
        "group_id":5
    }'

</code></pre>
                                                    <h4 class="mt-4">Response</h4>
<pre><code class="language-json">
{
    "slug": "my-first-link",
    "title": null,
    "long_link": "https://www.very-looong-link-there.com",
    "date_expire": null,
    "disabled": false,
    "date_created": "2019-08-24T14:15:22Z",
    "last_changed": "2019-08-24T14:15:22Z",
    "password": false,
    "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-link",
    "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
    "group": {
        "id":5
        "title": "My First Group",
        "slug": "my-first-group",
        "description": "Just description of very good first group",
        "disabled": false,
        "rotation": true
        "password": false,
        "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-group",
        "date_expire": null
    }
}

</code></pre>
                                                    <p><b>Fields description:</b></p>
                                                    <ul>
                                                        <li><b>slug</b> - A unique identifier for your link in the system. You can provide it manually or leave the field empty, and the server will generate it automatically.</li>
                                                        <li class="mt-2"><b>title</b> - The title of your link. If the link is added to a group, users who visit the group's URL will see this title, so be careful. You can leave this field empty.</li>
                                                        <li class="mt-2"><b>long_link</b> - Long link that will be shortener.</li>
                                                        <li class="mt-2"><b>date_expire</b> - Date, after which short link will not be able. If leave the field empty link will be able all time.</li>
                                                        <li class="mt-2"><b>disabled</b> - Default is False. If True link not be able fo users.</li>
                                                        <li class="mt-2"><b>date_created</b> - Auto field. Server enter the date automatically.</li>
                                                        <li class="mt-2"><b>last_changed</b> - Auto field. The date will be refrefresh if you update any link field.</li>
                                                        <li class="mt-2"><b>password</b> - Default is None. If set this field users can not be able to access the target resourse without entering password.</li>
                                                        <li class="mt-2"><b>short_url</b> - Your short link.</li>
                                                        <li class="mt-2"><b>qr</b> - QRCode will be able in base64 string.</li>
                                                        <li class="mt-2"><b>group</b> - Description of this attached fields you can read in relevant category.</li>
                                                    </ul>

                                                    <h3 class="mt-4">Get links list</h3>
                                                    <p>For example, we will make a test GET request to retrieve our existing links. 
                                                        Also, we can limit the size of the received list using query parameters, but we won't do that since we don't have too many links.</p>
                                                    <h4>Request</h4>
<pre><code class="language-bash">
curl --request GET \
    --url {{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/links/ \
    --header 'content-type: application/json' \
    --header 'Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a'

</code></pre>
                                                    <h4 class="mt-4">Response</h4>
<pre><code class="language-json">
{
    "links_total": 2,
    "links_skipped": 0,
    "links_shown": 2,
    "links_list": [
        {
            "slug": "my-first-link",
            "title": null,
            "long_link": "https://www.very-looong-link-there.com",
            "date_expire": null,
            "disabled": false,
            "date_created": "2019-08-24T14:15:22Z",
            "last_changed": "2019-08-24T14:15:22Z",
            "password": false,
            "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-link",
            "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
            "group": {
                "id":5
                "title": "My First Group",
                "slug": "my-first-group",
                "description": "Just description of very good first group",
                "disabled": false,
                "rotation": true
                "password": false,
                "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-group",
                "date_expire": null
            }
        },
        {
            "slug": "my-second-link",
            "title": null,
            "long_link": "https://www.very-looong-link-there.com",
            "date_expire": null,
            "disabled": false,
            "date_created": "2019-08-24T14:15:22Z",
            "last_changed": "2019-08-24T14:15:22Z",
            "password": false,
            "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-second-link",
            "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
            "group": {
                "id":5
                "title": "My First Group",
                "slug": "my-first-group",
                "description": "Just description of very good first group",
                "disabled": false,
                "rotation": true
                "password": false,
                "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-group",
                "date_expire": null
            }
        }
    ]
}

</code></pre>
                                                    <h3 class="mt-4">Other available links endpoints:</h3>
                                                    <p>Additionally, you can also use a variety of other methods, which are described in more 
                                                        detail in the <a href="#full-doc">full version of the documentation.</a></p>
                                                    <ul>
                                                        <li>Get Links List.</li> 
                                                        <li class="mt-2">Get Detailed Link Statistics.</li>
                                                        <li class="mt-2">Partially Update Link.</li> 
                                                        <li class="mt-2">Delete Link.</li> 
                                                        <li class="mt-2">Retrieve Detailed Link Information.</li> 
                                                        <li class="mt-2">Create Link.</li> 
                                                        <li class="mt-2">Multiple Create Links. For free use, requests quantity cannot exceed 5 per minute and 50 per day. 
                                                            If you need more <a href="mailto:dev@clkr.su">email</a> us.</li> 
                                                    </ul>

                                                    <h2 class="mt-5">
                                                        Groups endpoints
                                                        <p class="lead" style="font-size: 20px; color:rgb(110, 110, 110)">A useful tool for link management, organization, and A/B testing.</p>
                                                    </h2>
                                                    <p>Here is an example of a request to create a group.</p>
                                                    <h4>Request</h4>
<pre><code class="language-bash">
curl --request POST \
    --url {{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/groups/ \
    --header 'content-type: application/json' \
    --header 'Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a' \
    --data '{
        "title":"My First Group",
        "slug":"my-first-group",
        "description":"Just description of very good first group",
        "rotation":true,
    }'

</code></pre>
                                                    <h4 class="mt-4">Response</h4>
<pre><code class="language-json">
{
    "id": 5,
    "title": "My First Group",
    "slug": "my-first-group",
    "description": "Just description of very good first group",
    "disabled": false,
    "rotation": true,
    "password": false,
    "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-group",
    "date_expire": null,
    "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX..."
}

</code></pre>
                                                    <p><b>Fields description:</b></p>
                                                    <ul>
                                                        <li><b>id</b> - A unique identifier for your link in the system. You can provide it manually or leave the field empty, and the server will generate it automatically.</li>
                                                        <li class="mt-2"><b>title</b> - The title of your group. When users visit the group's URL they will see this title, so be careful. You can not leave this field empty. Required.</li>
                                                        <li class="mt-2"><b>slug</b> - A unique identifier for your group in the system. You can provide it manually or leave the field empty, and the server will generate it automatically.</li>
                                                        <li class="mt-2"><b>description</b> - Any description of your group, for personal use. You can leave this field empty.</li>
                                                        <li class="mt-2"><b>disabled</b> - Default is False. If True group not be able for users.</li>
                                                        <li class="mt-2"><b>rotation</b> - Default is False. If True, by clicking on the url of this group, users will be redirected to one of the links attached to the group selected randomly.</li>
                                                        <li class="mt-2"><b>password</b> - Default is None. If set this field users can not be able to access the attached links without entering password.</li>
                                                        <li class="mt-2"><b>short_url</b> - Your short link of that group.</li>
                                                        <li class="mt-2"><b>date_expire</b> - Date, after which group will not be able. If leave the field empty group will be able all time.</li>
                                                        <li class="mt-2"><b>qr</b> - QRCode will be able in base64 string.</li>
                                                    </ul>
                                                    <h3 class="mt-4">Retrieve group</h3>
                                                    <p>Make a test GET request to retrieve group. 
                                                        Also, we can limit the size of the received attached links list using query parameters, but we won't do that since we don't have too many links.</p>
                                                    <h4>Request</h4>
<pre><code class="language-bash">
curl --request GET \
    --url {{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/groups/5 \
    --header 'content-type: application/json' \
    --header 'Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a'

</code></pre>
                                                    <h4 class="mt-4">Response</h4>
<pre><code class="language-json">
{
    "id": 5,
    "title": "My First Group",
    "slug": "my-first-group",
    "description": "Just description of very good first group",
    "disabled": false,
    "rotation": true,
    "date_expire": null,
    "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-group",
    "password": false,
    "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
    "links_total": 2,
    "links_shown": 2,
    "links": [
        {
            "slug": "my-first-link",
            "title": null,
            "long_link": "https://www.very-looong-link-there.com",
            "date_expire": null,
            "disabled": false,
            "date_created": "2019-08-24T14:15:22Z",
            "last_changed": "2019-08-24T14:15:22Z",
            "password": false,
            "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-first-link",
            "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
        },
        {
            "slug": "my-second-link",
            "title": null,
            "long_link": "https://www.very-looong-link-there.com",
            "date_expire": null,
            "disabled": false,
            "date_created": "2019-08-24T14:15:22Z",
            "last_changed": "2019-08-24T14:15:22Z",
            "password": false,
            "short_url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}/my-second-link",
            "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
        }
    ]
}

</code></pre>

                                                    <h3 class="mt-4">Other available groups endpoints:</h3>
                                                    <p>Additionally, you can also use a variety of other methods, which are described in more 
                                                        detail in the <a href="#full-doc">full version of the documentation.</a></p>
                                                    <ul>
                                                        <li>Get Groups List.</li>
                                                        <li class="mt-2">Get Detailed Group Statistics.</li>
                                                        <li class="mt-2">Partially Update Group.</li>
                                                        <li class="mt-2">Delete Group.</li>
                                                        <li class="mt-2">Retrieve Detailed Group Information.</li>
                                                        <li class="mt-2">Create Group.</li>
                                                    </ul>


                                                    <h2 class="mt-5">
                                                        QRCode endpoints
                                                        <p class="lead" style="font-size: 20px; color:rgb(110, 110, 110)">A tool for creating and storing qr-codes.</p>
                                                    </h2>
                                                    <p>Example of a request to create QRCode.</p>
                                                    <h4>Request</h4>
<pre><code class="language-bash">
curl --request POST \
    --url {{ request.scheme }}://{{ request.META.HTTP_HOST }}/api/v1/groups/ \
    --header 'content-type: application/json' \
    --header 'Authorization: Token 401f7ac837da42b97f613d789819ff93537bee6a' \
    --data '{
        "text": "Any text, link or something else for generate qr-code"
    }'

</code></pre>
                                        <h4 class="mt-4">Response</h4>
<pre><code class="language-json">
{
    "slug": "126kifc009894O8ebdcgtr77c3020777",
    "text": "Any text, link or something else for generate qr-code",
    "qr": "data:image/png;base64,iVBORw0KGgoXXXXXXXXX...",
    "date_created": "2019-08-24T14:15:22Z"
}

</code></pre>
                                                    <p><b>Fields description:</b></p>
                                                    <ul>
                                                        <li><b>slug</b> - A unique identifier for your link in the system. You can provide it manually or leave the field empty, and the server will generate it automatically.</li>
                                                        <li class="mt-2"><b>text</b> - Any description of your group, for personal use. You can leave this field empty.</li>
                                                        <li class="mt-2"><b>qr</b> - QRCode will be able in base64 string.</li>
                                                        <li class="mt-2"><b>date_created</b> - Date, after which group will not be able. If leave the field empty group will be able all time.</li>
                                                    </ul>

                                                    <h3 class="mt-4">Other available QRCode endpoints:</h3>
                                                    <p>Additionally, you can also use a variety of other methods, which are described in more 
                                                        detail in the <a href="#full-doc">full version of the documentation.</a></p>
                                                    <ul>
                                                        <li>Get QR-Codes List.</li>
                                                        <li class="mt-2">Retrieve QR-Code Information.</li>
                                                        <li class="mt-2">Create QR-Code.</li>
                                                        <li class="mt-2">Multiple Create QR-Codes. For free use, requests quantity cannot exceed 5 per minute and 50 per day. 
                                                            If you need more <a href="mailto:dev@clkr.su">email</a> us.</li>
                                                    </ul>
                                                    <div class="alert alert-primary rounded mt-5 text-center" role="alert">
                                                        <h3 class="">Get full API documentation</h3>
                                                        <hr>
                                                        <a href="{{ redoc }}" target="_blank" class="btn btn-primary mt-1 mx-3" style="font-size: 16px; font-weight: 700; min-width: 150px;">ReDoc</a>
                                                        <a href="{{ swagger }}" target="_blank" class="btn btn-primary mt-1 mx-3" style="font-size: 16px; font-weight: 700; min-width: 150px;">Swagger</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <!-- [ Main Content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'assets/js/pages/api-preview-prism.js' %}"></script>

{% endblock javascripts %}
