{% extends "dashboard/layouts/base.html" %}
{% load dashboard_tags %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
    {% load breadcrumb %}
<!-- [ breadcrumb ] start -->
        <nav aria-label="breadcrumb" itemscope itemtype="{% breadcrumb_schema %}">
            <ol class="breadcrumb mx-3 my-2">
                {% breadcrumb_home 'dashboard' %}
                {% breadcrumb_active 1 url='groups' prefix='Мои группы'%}
            </ol>
        </nav>

<!-- [ breadcrumb ] end -->
{% endblock breadcrumb %}

{% block content %}

{% csrf_token %}
{% now "Y.m.d" as date_now %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row px-3 align-items-center justify-content-between">
                                                <h5 style="font-size: 24px;">Мои группы</h5>
                                                <a href="{% url 'groups_create' %}" class="btn btn-primary mt-1" style="font-size: 16px; font-weight: 700;">Создать новую группу</a>
                                            </div>
                                        </div>
                                        {% if groups %}
                                            {% for group in groups %}
                                            <div class="container my-2">
                                                <div class="card-block shadow-sm" style="background-color: rgb(255, 255, 255);">
                                                    <div class="row justify-content-between">
                                                        <div class="col-lg-9 col-sm-auto">
                                                            <div class="row row-cols-1 border-bottom pb-2">
                                                                <div class="long-link-title col-md-12" style="color: rgb(17, 17, 17); font-size: 18px;">
                                                                    <a href="{% url 'groups_detail' slug=group.slug %}" style="color: rgb(17, 17, 17); font-size: 18px;">{{ group.title }}</a>
                                                                </div>
                                                                {% if group.description %}
                                                                    <div class="long-link col-lg-8 col-sm-auto">
                                                                        <span class="">{{ group.description }}</span>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="row row-cols-1 pt-2">
                                                                <div class="col-lg-6 col-sm-auto" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                                    <a href="{{ group.short_url }}" style="font-size: 1.1em;">{{ group.short_url }}</a>
                                                                    <input type="hidden" value="{{ group.short_url }}" id="{{ group.slug }}">
                                                                </div>
                                                                <div class="col-lg-6 col-sm-auto text-center">
                                                                    <button class="icon-button h6 text-muted" title="Копировать" onclick="copyToClipboard('{{ group.slug }}')"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-copy" style="color:rgb(51, 39, 37)"></i>
                                                                    </button>
                                                                    <a href="{% url 'groups_edit' slug=group.slug %}" class="icon-button h6 px-1" title="Редактировать"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-edit" style="color: rgb(51, 39, 37);"></i>
                                                                    </a>
                                                                    <a href="{% url 'groups_detail' slug=group.slug %}" class="icon-button h6 px-1" title="Статистика"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-bar-chart-2" style="color: rgb(102, 193, 253);"></i>
                                                                    </a>
                                                                    <button class="icon-button h6 px-1" data-toggle="img-modal" data-img="{%url 'download_qr' model='group' slug=group.slug %}" data-title="{{group.title}}"  title="Скачать QR"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-maximize" style="color: rgb(51, 39, 37);"></i>
                                                                    </button>
                                                                    <button class="icon-button h6 px-1" data-toggle="del-modal" data-url="{% url 'groups_delete' slug=group.slug %}" data-title="Удалить группу"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-trash" style="color: rgb(51, 39, 37);"></i>
                                                                    </button>
                                                                    <button class="icon-button h6 px-1" data-toggle="share-modal" data-title="Поделиться"  data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-external-link" style="color: rgb(51, 39, 37);"></i>
                                                                    </button>
                                                                    {% if group.disabled or group.date_expire is not None and group.date_expire|date:"Y.m.d" <= date_now  %}
                                                                    <a class="icon-button h6 px-1" title="Группа не активна" data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-eye" style="color: rgb(212, 60, 23);"></i>
                                                                    </a>
                                                                    {% else %}
                                                                    <a class="icon-button h6 px-1" title="Группа активна" data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-eye" style="color:rgb(74, 199, 36);"></i>
                                                                    </a>
                                                                    {% endif %}
                                                                    {% if group.password %}
                                                                    <a class="icon-button h6 px-1" title="Пароль установлен" data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-shield" style="color:rgb(155, 35, 5);"></i>
                                                                    </a>
                                                                    {% endif %}
                                                                    {% if group.rotation %}
                                                                    <a class="icon-button h6 px-1" title="Ротация ссылок включена" data-bs-toggle="tooltip">
                                                                        <i class="icon feather icon-shuffle" style="color: rgb(102, 193, 253);"></i>
                                                                    </a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-sm-auto mr-3">
                                                            <div class="row row-cols-1 border-bottom">
                                                                <div class="col-md-12" style="color: rgb(68, 66, 66);">
                                                                    Создана:&nbsp;{{ group.date_created|date:"Y.m.d"  }}
                                                                </div>
                                                            </div>
                                                            <div class="row row-cols-1 border-bottom">
                                                                {% if group.date_expire %}
                                                                    {% if group.date_expire|date:"Y.m.d" <= date_now %}
                                                                        <div class="col-auto" style="color: rgb(156, 91, 91);">
                                                                            Истекла:  {{ group.date_expire|date:"Y.m.d" }}
                                                                    {% else %} 
                                                                        <div class="col-auto" style="color: rgb(68, 66, 66);">
                                                                            Истекает:  {{group.date_expire|date:"Y.m.d" }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    <div class="col-auto" style="color: rgb(68, 66, 66)">
                                                                        Истекает: Дата не указана
                                                                {%endif %}
                                                                </div>
                                                            </div>
                                                            <div class="row row-cols-1 border-bottom">
                                                                <div class="col-auto" style="color: rgb(68, 66, 66);">
                                                                    Содержит ссылок:&nbsp;{{ group.linkmodel_set.all.count }}
                                                                </div>
                                                            </div>
                                                            <div class="row row-cols-1">
                                                                <div class="col-auto" style="color: rgb(68, 66, 66);">
                                                                    Всего кликов:&nbsp;{{ group|group_clicks }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% include 'dashboard/includes/pagination.html' %}
                                        {% else %}
                                            <h4 class="fs-4 text-center py-5 my-5">Еще не создано ни одной группы</h4>
                                        {% endif %}
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
$('[data-bs-toggle="tooltip"]').on('click', function(e){
    $(this).blur();
});

</script>
{% endblock javascripts %}