{% extends "dashboard/layouts/base.html" %}

{% block title %}
{% if 'edit' in segment %} Редактирование группы {% else %} Создать новую группу {% endif %}
{% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
    {% load breadcrumb %}
<!-- [ breadcrumb ] start -->
        <nav aria-label="breadcrumb" itemscope itemtype="{% breadcrumb_schema %}">
            <ol class="breadcrumb mx-3 my-2">
                {% breadcrumb_home url='dashboard' %}
                {% breadcrumb_item url='groups' title='Мои группы' position=1 %}
                {% if 'edit' in segment %}
                    {% breadcrumb_active url=object.get_absolute_url title=object.title prefix='Редактирование группы: ' position=2 %}
                {% else %}
                    {% breadcrumb_active prefix='Создать группу' position=2 %}
                {% endif %}
            </ol>
        </nav>

<!-- [ breadcrumb ] end -->
{% endblock breadcrumb %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 style="font-size: 24px;">{% if 'edit' in segment %}Редактировать группу{% else %}Создать новую группу{% endif %}</h5>
                                        </div>
                                        <div class="card-block">
                                            <form method="POST">
                                                {% csrf_token %}
                                                {{ form.non_field_errors }}
                                                <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Название:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.title.errors }}
                                                        {{ form.title }}
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span id="passwordHelpInline" class="form-text">
                                                          Не должно повторяться с другой группой.
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Описание:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.description.errors }}
                                                        {{ form.description }}
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Ваш алиас:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.slug.errors }}
                                                        {{ form.slug }}
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span id="passwordHelpInline" class="form-text">
                                                          Оставьте пустым, если хотите сгенерировать автоматически.
                                                        </span>
                                                    </div> 
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Пароль:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.password.errors }}
                                                        {{ form.password }}
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span id="passwordHelpInline" class="form-text">
                                                          Если указать, переход будет возможен только после ввода пароля.
                                                        </span>
                                                    </div>                                                    
                                                </div>
                                                <!-- <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Добавить в группу:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.link.errors }}
                                                        {{ form.group }}
                                                    </div>
                                                </div> -->
                                                <div class="row mb-3">
                                                    <label for="inputPassword3" class="col-sm-2" style="color: rgb(17, 17, 17); font-size: 16px;">Действительна до:</label>
                                                    <div class="col-sm-3">
                                                        {{ form.date_expire.errors }}
                                                        {{ form.date_expire }}
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <span id="passwordHelpInline" class="form-text">
                                                          Оставьте пустым, если нужна вечная ссылка.
                                                        </span>
                                                    </div> 
                                                </div>
                                                <fieldset class="row mb-3">
                                                  <div class="col-sm-2 pt-0"  style="color: rgb(17, 17, 17); font-size: 16px;">Статус:</div>
                                                  <div class="col-sm-10">
                                                    <div class="form-check">
                                                        {{ form.disabled.errors }}
                                                        {{ form.disabled }}
                                                        <label class="form-check-label" for="gridCheck1">
                                                        Отключить группу
                                                      </label>
                                                    </div>
                                                  </div>
                                                </fieldset>
                                                <fieldset class="row mb-3">
                                                    <div class="col-sm-2 pt-0"  style="color: rgb(17, 17, 17); font-size: 16px;">Ротация:</div>
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                          {{ form.rotation.errors }}
                                                          {{ form.rotation }}
                                                          <label class="form-check-label" for="gridCheck1">
                                                          Включить ротацию вложенных ссылок
                                                        </label>
                                                      </div>
                                                    </div>
                                                  </fieldset>
                                                {% if 'edit' in segment %}
                                                    <button type="submit" class="btn btn-primary mt-4" style="font-size: 16px; font-weight: 700;">Сохранить изменения</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary mt-4" style="font-size: 16px; font-weight: 700;">Сохранить</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
