{% extends "dashboard/layouts/base.html" %}

{% load static %}

{% block title %} Детальная информация по ссылке {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock stylesheets %}

{% block breadcrumb %}
    {% load breadcrumb %}
<!-- [ breadcrumb ] start -->
        <nav aria-label="breadcrumb" itemscope itemtype="{% breadcrumb_schema %}">
            <ol class="breadcrumb mx-3 my-2">
                {% breadcrumb_home url='dashboard' %}
                {% breadcrumb_item url='links' title='Мои ссылки' position=1 %}
                {% breadcrumb_active url=object.get_absolute_url title=object.title prefix='Просмотр статистики по ссылке: ' position=2 %}
            </ol>
        </nav>

<!-- [ breadcrumb ] end -->
{% endblock breadcrumb %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        {% now "Y.m.d" as date_now %}
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!--[ daily clicks section ] start-->
                            <div class="col-md-3">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Кликов за сегодня</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                                    <i class="feather icon-trending-up text-c-green f-30 m-r-10"></i>
                                                    <span id="day-entries-container" ></span>
                                                </h3>
                                            </div>
                                            <!-- <div class="col-3 text-right">
                                                    <p class="m-b-0">67%</p>
                                                </div> -->
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ daily clicks section ] end-->
                            <!--[ weekly clicks section ] starts-->
                            <div class="col-md-3">
                                <div class="card weekly-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Кликов за неделю</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                                                    <i class="feather icon-trending-up text-c-blue f-30 m-r-10"></i>
                                                    <span id="week-entries-container" ></span>
                                                </h3>
                                            </div>
                                            <!-- <div class="col-3 text-right">
                                                    <p class="m-b-0">36%</p>
                                                </div> -->
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ weekly clicks section ] end-->
                            <!--[ monthly clicks section ] starts-->
                            <div class="col-md-3">
                                <div class="card Monthly-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Кликов за месяц</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                                    <i class="feather icon-trending-up text-c-purple f-30 m-r-10"></i>
                                                    <span id="month-entries-container" ></span>
                                                </h3>
                                            </div>
                                            <!-- <div class="col-3 text-right">
                                                    <p class="m-b-0">36%</p>
                                                </div> -->
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ monthly clicks section ] end-->
                            <!--[ year  sales section ] starts-->
                            <div class="col-md-3">
                                <div class="card yearly-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">За все время</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                                                    <i class="feather icon-trending-up text-c-red f-30 m-r-10"></i>
                                                    {{ activity.clicks }}
                                                </h3>
                                            </div>
                                            <!-- <div class="col-3 text-right">
                                                    <p class="m-b-0">80%</p>
                                                </div> -->
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ year  sales section ] end-->
                            <!--[ Recent Users ] start-->
                            <div class="col-xl-8 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Динамика кликов</h5>
                                    </div>
                                    <div class="card-block">
                                        <canvas id="myChart" style="max-height: 340px;"></canvas>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <!--[ Recent Users ] end-->

                            <!-- [ statistics year chart ] start -->
                            <div class="col-xl-4 col-md-6"> <!-- truncatechars- {{ value|truncatechars:7 }} -->
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-sm-12 pb-1 mb-1 border-bottom">
                                                <h5 class="m-0">Статус: </h5>
                                            </div>
                                            <div class="col-12 border-rigth">
                                                <div class="row align-items-center">
                                                    {% if object.disabled %}
                                                        <div class="col-auto mt-2">
                                                            <i class="feather icon-alert-circle text-c-red f-40"></i>
                                                        </div>
                                                        <h2 class="mt-3 ml-2 f-w-300" style="font-size: 37px;">Отключена</h2>
                                                    {% elif object.date_expire is not None and object.date_expire|date:"Y.m.d" == date_now %}
                                                        <div class="col-auto mt-2">
                                                            <i class="feather icon-alert-circle text-c-red f-40"></i>
                                                        </div>
                                                        <h2 class="mt-3 f-w-300" style="font-size: 37px;">Просрочена</h2>
                                                    {% else %} 
                                                        <div class="col-auto mt-2">
                                                            <i class="feather icon-check-circle text-c-green f-40"></i>
                                                        </div>
                                                        <div class="col-auto mt-2">
                                                            <h2 class="mt-3 f-w-300" style="font-size: 37px;">Активна</h2>
                                                        </div>
                                                    {% endif %}
                                                </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-2">
                                                <i class="feather icon-zap f-30 text-c-green"></i>
                                            </div>
                                            <div class="col-10">
                                                    <h3 id="max-link-container" class="f-w-300 long-link"></h3>
                                                <span class="d-block text-uppercase">Основной источник</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-2">
                                                <i class="feather icon-cpu f-30 text-c-blue"></i>
                                            </div>
                                            <div class="col-10">
                                                    <h3 id="max-device-container" class="f-w-300 long-link"></h3>
                                                <span class="d-block text-uppercase">Ключевое устройство</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ statistics year chart ] end -->
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Устройства</h5>
                                    </div>
                                    <div class="card-block">
                                        <canvas id="myChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Тип ОС</h5>
                                    </div>
                                    <div class="card-block">
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Браузеры</h5>
                                    </div>
                                    <div class="card-block">
                                        <canvas id="myChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Источники</h5>
                                    </div>
                                    <div class="card-block">
                                        <canvas id="myChart4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{ activity.date|json_script:"click-dynamic" }}
{{ activity.device|json_script:"device-types" }}
{{ activity.os|json_script:"os-types" }}
{{ activity.browser|json_script:"browser-types" }}
{{ activity.source|json_script:"sources" }}
<script src="{% static 'assets/js/pages/charts-builder.js' %}"></script>


{% endblock javascripts %}