{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/custom404.css' %}">

<style>
    .custom-margin {
        margin-bottom: 15% !important;
    }
</style>

<div class="px-4 pt-5 my-5 text-center custom-margin">
    <h1 class="display-4 fw-bold">Упс! Получилась 404 ошибка :(</h1>
    <div class="col-lg-6 mx-auto">
        <br>
      <p class="lead mb-4">К сожалению, мы не нашли такую страницу на сайте.</p>
      <p class="lead mb-4">Зато у нас можно бесплатно сократить любую ссылку, любой длины :)</p>
      <div class="col-12">
        <a href="{% url 'home' %}" class="btn btn-primary">Попробовать прямо сейчас!</a>
      </div>

    </div>
</div>


{% endblock %}