{% extends 'base.html' %}
{% load static %}

{% block content %}

<form class="row row-cols-lg-auto g-3 align-items-center" action="" method="post">
    {% csrf_token %}
    <div class="col-12">
      <!-- <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
      {{ form.non_field_errors }}
      <div class="input-group">
        <div class="input-group-text"><../></div>
        {{ form.password.errors}}
        {{ form.password }}
        <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername"
             placeholder="Вставьте ссылку.." required name="long_link"> -->
      </div>
    </div>  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Перейти</button>
    </div>
  </form>


{% endblock %}