{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
      <div class="card radius-10 border m-2">
        <div class="card-body p-4">
          <div class="text-center">
            <h4>Регистрация</h4>
            <p>Создание аккаунта</p>
          </div>
          <div class="form-body row g-3">
            <div class="col-12 col-lg-12">
              <div class="d-grid gap-2">
                <form class="col-12" method="post">
                  {% csrf_token %}
                  <button type="submit" formaction="{% provider_login_url 'google' %}" class="btn border border-2 border-dark w-100">
                    <img src="assets/images/icons/google.png" width="20" alt="">
                      <span class="ms-3 fw-500">Войти через Google</span>
                  </button>
                </form>
                <form class="col-12" method="post">
                  {% csrf_token %}
                  <button type="submit" formaction="{% provider_login_url 'github' %}" class="btn border border-2 border-dark w-100">
                    <img src="assets/images/icons/apple-black-logo.png" width="20" alt="">
                    <span class="ms-3 fw-500">Войти через GitHub</span>
                  </button>
                </form>
              </div>
            </div>
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
              <div class="col-12">
              {% for error in form.errors.values %}
                  {{ error }}
              {% endfor %}
              </div>
            {% endif %}
            <div class="col-12 my-2">
              <label for="inputEmail" class="form-label">Email:</label>
              <input type="email" class="form-control" id="inputEmail" name="email" required placeholder="abc@example.com">
            </div>
            <div class="col-12 my-2">
              <label for="inputPassword1" class="form-label">Пароль:</label>
              <input type="password" class="form-control" id="inputPassword1" name="password1" required placeholder="Ваш пароль">
            </div>
            <div class="col-12 my-2">
              <label for="inputPassword2" class="form-label">Повторите пароль:</label>
              <input type="password" class="form-control" id="inputPassword2" name="password2" required placeholder="Ваш пароль">
            </div>
            <div class="col-12 col-lg-12 my-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  I agree the Terms and Conditions
                </label>
              </div>
            </div>
            <div class="col-12 col-lg-12 my-2">
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
              </div>
            </div>
            <div class="col-12 col-lg-12 text-center">
              <p class="mb-0">Уже есть аккаунт? <a href="{% url 'account_login' %}">Войти</a></p>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}