{% extends 'base.html' %}

{% block content %}


<div class="px-5 py-5 my-5 text-center custom-margin">
    <h1 class="display-4 fw-bold">Подтвердите ваш email</h1>
    <div class="col-lg-6 mx-auto">
        <br>
      <p class="lead mb-4">Мы отправили на указанный вами адрес элекронной почты письмо с ссылкой для подтверждения почты. Вы должны получить его в ближайшее время. Пожалуйста, подтвердите вашу почту для дальнейшего пользования сервисом.</p>
      <p class="lead mb-4">Если вы не получили письмо, проверьте папку со спамом.</p>

    </div>
</div>

{% endblock %}