{% load static %}
{% load social_avatar %}


    <div class="navbar col-auto ml-auto">
        <div class="d-block dropdown">
            <a href="" class="text-decoration-none link-dark dropdown-toggle" data-bs-toggle="dropdown">
                
                {% if user.socialaccount_set.all %}
                <img src="{% user_avatar user %}" alt="user_avatar" class="rounded-circle" width="32" height="32">
                {% else %}
                <img src="{% static 'img/icon-profile.png' %}" alt="user_avatar" class="rounded-circle" width="32" height="32">
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right mr-1">
                <span class="ml-4 long-link-title" style="font-size: 16px; color: rgb(17, 17, 17);">{{ user.email|truncatechars:27 }}</span>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">
                        <i class="feather icon-lock pr-2"></i>Выход</button>
                </form>
            </div>
        </div>
    </div>
