{% load static %}
{% load social_avatar %}

<ul class="navbar-nav ml-auto">
    <li>
        <div class="dropdown drp-user">
            <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon feather icon-settings"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-notification">
                <div class="pro-head long-link">
                    {% if user.socialaccount_set.all %}
                        <img src="{% user_avatar user %}" class="img-radius" alt="User-Profile-Image">
                    {% else %}
                        <img src="{% static 'img/icon-profile.png' %}" class="img-radius" alt="User-Profile-Image">
                    {% endif %}
                    <span>{{ user.email }}</span>
                </div>
                <ul class="pro-body">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item" type="submit">
                            <i class="feather icon-lock pr-2"></i>Выход</button>
                    </form>
                </ul>
            </div>
        </div>
    </li>
</ul>