<!-- [ navigation menu ] start -->
{% load static %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-monitor"></i>
                </div>
                <span class="b-title">Clicker panel</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Информация</label>
                </li>
                <li data-username="Dashboard" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{% url 'dashboard' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="My Links List" 
                    class="nav-item {% if 'links' in segment %} active {% endif %}">
                    <a href="{% url 'links' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-link"></i></span>
                            <span class="pcoded-mtext">Мои ссылки</span></a>
                </li>
                <li data-username="My Groups List" 
                    class="nav-item {% if 'groups' in segment %} active {% endif %}">
                    <a href="{% url 'groups' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-folder"></i></span>
                            <span class="pcoded-mtext">Мои группы</span></a>
                </li>
                <li data-username="My QRCodes" 
                    class="nav-item {% if 'qrcode' in segment %} active {% endif %}">
                    <a href="{% url 'qrcode' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                            <span class="pcoded-mtext">Мои QR</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Действия</label>
                </li>
                <li data-username="Make short link" 
                    class="nav-item {% if 'cutt_link' in segment %} active {% endif %}">
                    <a href="{% url 'links_create' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-minimize-2"></i></span>
                            <span class="pcoded-mtext">Сократить ссылку</span></a>
                </li>
                <li data-username="Make QR" 
                    class="nav-item {% if 'groups_list' in segment %} active {% endif %}">
                    <a href="{% url 'qrcode_create' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-grid"></i></span>
                            <span class="pcoded-mtext">Создать QR</span></a>
                </li> 

                <li class="nav-item pcoded-menu-caption">
                    <label>Сервисы</label>
                </li>
                <li data-username="API for developers" 
                    class="nav-item {% if 'api-key' in segment %} active {% endif %}">
                    <a href="{% url 'api-key' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span>
                            <span class="pcoded-mtext">API документация</span></a>
                </li>
                <li data-username="Telegram bot" 
                    class="nav-item nonactive-item">
                    <a href="#" onclick="return false;" class="nav-link" >
                        <span class="pcoded-micon"><i class="feather icon-cpu"></i></span>
                            <span class="pcoded-mtext">Telegram бот</span><span
                            class="pcoded-badge label label-danger">Скоро!</span></a>
                </li> 
                <li class="nav-item pcoded-menu-caption">
                    <label>Прочее</label>
                </li> 
                   
                <li data-username="Support" class="nav-item ">
                    <a target="_blank" href="https://appseed.us/support" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-users"></i>
                        </span>
                        <span class="pcoded-mtext">Поддержка</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
